.team__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, .5fr));
    grid-gap: 60px;
    @include tablet-block {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 30px;
    }
}