.register {
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
}

.register__inner {
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.register__decor {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    @include tablet-block {
        top: auto;
        bottom: -75px;
        opacity: 0.2;
    }
    @include mobileXS(bottom, -145px);
}

.register__decor-svg {
    @include tablet(max-width, 550px);
    @include mobileXS(max-width, 360px);
}

.register__descr {
    margin-top: 25px;
}

.register__action {
    margin-top: 45px;
}