.register {
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
}

.register__inner {
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.register__decor {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    user-select: none;
}

.register__descr {
    margin-top: 25px;
}

.register__action {
    margin-top: 45px;
}