.register {
    position: relative;
    background: url("../img/main-screen-bg.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.register__video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.register__inner {
    position: relative;
    z-index: 10;
    max-width: 720px;
}

.register__decor {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    @include tablet-block {
        top: auto;
        bottom: -75px;
        opacity: 0.2;
    }
    @include mobileXS(bottom, -145px);
}

.register__decor-svg {
    @include tablet(max-width, 550px);
    @include mobileXS(max-width, 360px);
}

.register__descr,
.register__place {
    margin-top: 25px;
}

.register__action {
    margin-top: 45px;
}