.discus__article {
    position: relative;
    display: grid;
    grid-template-columns: minmax(320px, 500px) minmax(320px, 700px);
    grid-gap: 50px;
    justify-content: space-between;
    padding: 30px 0 100px;
    @include large(padding, 30px 0 50px);
    @include mobile-block {
        grid-template-columns: 1fr;
    }
}

.discus__article::before {
    content: '';
    position: absolute;
    height: 1px;
    top: 0;
    left: -1000%;
    right: -1000%;
    background: var(--color-black);
}

.discus__title {
    position: relative;
    margin: 0;
    @include large-block {
        display: flex;
        flex-direction: column;
    }
}

.discus__title-text {
    @include large-block {
        margin-top: 20px;
    }
}

.discus__descr {
    margin-top: 30px;
}

.discus__num {
    position: absolute;
    left: -50px;
    top: 4px;
    @include large-block {
        position: static;
    }
}

.discus__img {
    display: block;
    max-height: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}