{% set title = "INFADAY" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Main-screen -->
<section class="main-screen block-padding">
    <div class="main-screen__body container">
        <div class="main-screen__text">
            <h1 class="main-screen__title title title--large title--white title--w-semibold title--indent">
                DIS Group Forum
            </h1>
            <h2 class="main-screen__subtitle">
                <span class="title title--big title--white title--w-semibold">Данные</span>
                <span class="title title--big title--white title--w-light"> – катализатор цифровизации</span> 
            </h2>
            <div class="main-screen__date title title--large title--white title--w-light">
                22 сентября 2022
            </div>
            <div class="main-screen__actions">
                <a href="javascript:;" class="main-screen__button button button--primary" data-modal="#registration">
                    Зарегистрироваться
                </a>
            </div>
            <div class="main-screen__solution">
                <div class="main-screen__heading-solutions">
                    <span class="main-screen__heading-title title title--large title--white title--w-semibold">Решения</span>
                    <span class="main-screen__heading-title title title--large title--white title--w-light">мировых лидеров</span>
                </div>
                <div class="main-screen__leaders">
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-kms.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-sisense.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-nice_actimize.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-informatica.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-datain.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-citrix.png" alt="" class="main-screen__logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Main-screen -->

<!-- Register -->
<section class="register block-padding">
    <div class="register__body container">
        <h2 class="register__heading title title--large title--white title--w-semibold">
            Присылайте вопросы спикерам и получайте подарки
        </h2>
        <p class="register__descr text text--large text--white text--w-light">
            Среди участников, следивших за форумом не менее 120 минут, будут разыграны призы: колонка Алиса, беспроводные наушники, и другие.
        </p>
        <div class="register__action">
            <a href="javascript:;" class="register__button button button--primary">
                Смотреть в записи
            </a>
        </div>
    </div>
</section>
<!-- /. Register -->

{% endblock %}