{% set title = "Цифровое перерождение" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Main-screen -->
<section class="main-screen">
    <video class="main-screen__video" autoplay muted loop playsinline poster="./img/main-screen-bg.png">
        <source src="./img/video-laser.mp4" type="video/mp4">
        <source src="./img/video-laser.webm" type="video/webm">
    </video>
    <div class="main-screen__outer">
        <div class="main-screen__body container">
            <div class="main-screen__inner">
                <div class="main-screen__info">
                    <h3 class="main-screen__title title title--pre-medium title--white title--w-bold title--uppercase center">
                        Конференция
                    </h3>
                    <h1 class="main-screen__heading title title--big title--white title--w-bold title--uppercase center">
                        Цифровое перерождение 2025
                    </h1>
                    <h3 class="title title--medium title--white title--w-bold center" style="margin-top: 30px">
                        Экономика данных | Управление данными | AI-агенты | Тренды будущего
                    </h3>
                    <div class="main-screen__info-event">
<!--                        <div class="main-screen__descr text text&#45;&#45;large text&#45;&#45;white text&#45;&#45;w-light">-->
<!--                            Дата проведения конференции:-->
<!--                        </div>-->
                        <div class="main-screen__data text text--large text--white text--w-semibold"
                             style="padding-bottom: 20px; border-bottom: 1px solid white">
                            <div class="title title--big title--white title--w-semibold">22</div>
                            Апреля 2025
                        </div>
                    </div>
                    <div class="main-screen__info-event">
<!--                        <div class="main-screen__descr text text&#45;&#45;large text&#45;&#45;white text&#45;&#45;w-light">-->
<!--                            Место проведения-->
<!--                        </div>-->
                        <div class="main-screen__data text text--large text--white text--w-semibold">
                            Казахстан г. Алматы
                        </div>
                    </div>
                    <div class="main-screen__info-event hide">
<!--                        <div class="main-screen__descr text text&#45;&#45;large text&#45;&#45;white text&#45;&#45;w-light">-->
<!--                            Время проведения-->
<!--                        </div>-->
                        <div class="main-screen__data text text--large text--white text--w-semibold">
                            14:00
                        </div>
                    </div>
                </div>
                </div>
                <div class="main-screen__actions gs-reveal gs-reveal--from-left center">
                    <a href="javascript:;" class="main-screen__button button button--primary" data-modal="#registration">
                        Зарегистрироваться
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Main-screen -->

<!-- About -->
<section class="about block-padding" id="about">
    <div class="about__body container">
        <h2 class="about__heading title title--big title--dark title--w-semibold title--indent">
            О мероприятии
        </h2>
        <blockquote class="about__blockquote">
            <p class="about__blockquote-text title title--large title--dark title--w-semibold">
                «Казахстан должен стать центральным цифровым хабом на значительной части Евразийского региона».
            </p>
            <div class="about__blockquote-man title title--pre-medium title--dark title--w-regular">
                Касым-Жомарт Токаев, Президент Республики Казахстан
            </div>
        </blockquote>
        <div class="about__grid-wysiwyg">
            <div class="about__wysiwyg">
                <h3 class="title title--small title--blue title--w-bold">
                    Экономика данных и гос. поддержка
                </h3>
                <p class="text text--small text--dark text--w-regular">
                    Узнайте, как ведущие организации строят Data Economy и какие государственные инициативы влияют на развитие AI и управления данными в Казахстане и зарубежом.
                </p>
            </div>
            <div class="about__wysiwyg">
                <h3 class="title title--small title--blue title--w-bold">
                    Agentic AI: от чат-ботов к цифровым сотрудникам
                </h3>
                <p class="text text--small text--dark text--w-regular">
                    Услышите реальные кейсы и дискуссии, как AI-агенты выходят за рамки простых ботов, превращаясь в «цифровых коллег», и каким образом это перестраивает бизнес-модели в финансах, телекоммуникациях и других отраслях.
                </p>
            </div>
            <div class="about__wysiwyg">
                <h3 class="title title--small title--blue title--w-bold">
                    Современное управление данными (DG & DM)
                </h3>
                <p class="text text--small text--dark text--w-regular">
                    От Data Governance до Data Management: как крупнейшие компании (банки, телеком) устраивают качественное хранение, безопасность и эффективное использование данных, сохраняя конкурентное преимущество.
                </p>
            </div>
            <div class="about__wysiwyg">
                <h3 class="title title--small title--blue title--w-bold">
                    Технологии будущего: MDM, Data Lakehouse, Metadata Management
                </h3>
                <p class="text text--small text--dark text--w-regular">
                    Узнайте о новейших решениях в сфере Master Data Management, Data Lakehouse-архитектур и «игровых» подходах к метаданным. Выступления Informatica, IDC, KPMG, а также опыт лидеров рынка помогут вам взглянуть на новые возможности для внедрения AI-продуктов.
                </p>
            </div>
        </div>
        <div class="about__list">
            <div class="about__item text text--large text--dark text--w-semibold">
                &mdash; Каковы последние тренды в цифровизации Казахстана?
            </div>
            <div class="about__item text text--large text--dark text--w-semibold">
                &mdash; Почему именно Data Governance становится ядром цифровой трансформации?
            </div>
            <div class="about__item text text--large text--dark text--w-semibold">
                &mdash; Как превратить данные в источник цифрового суверенитета и ресурс для монетизации?
            </div>
        </div>
        <div class="about__descr text text--large text--dark text--w-regular">
            Эти и многие другие вопросы представители госсектора, бизнеса и общественных организаций обсудят на площадке форума Atameken Business 
            <strong>«Цифровое перерождение»</strong>.
        </div>
    </div>
</section>
<!-- /. About -->

<!-- Moder -->
<section class="moder block-padding" id="moder">
    <div class="moder__body container">
        <h2 class="moder__heading title title--big title--dark title--w-semibold title--indent">
            Модератор
        </h2>
        <article class="moder__card">
            <aside class="moder__card-aside">
                <figure class="moder__card-figure">
                    <img src="img/team/nurgalieva.png" alt="" class="moder__card-photo">
                </figure>
            </aside>
            <div class="moder__card-text">
                <h3 class="moder__card-heading title title--pre-medium title--dark title--w-regular">
                    Асем Нургалиева 
                </h3>
                <p class="moder__card-descr text text--normal text--dark text--w-light">
                    Исполнительный директор Первого кредитного бюро. Внештатный Советник Министра цифрового развития, инноваций и аэрокосмической промышленности РК. Телеведущая, ведет свой авторский телевизионный проект на Телеканале Atameken Business «Время Fintech».
                </p>
            </div>
        </article>
    </div>
</section>
<!-- /. Moder -->

<!-- Team -->
<section class="team bg--white block-padding" id="speakers">
    <div class="team__body container">
        <h2 class="team__heading title title--big title--dark title--w-semibold title--indent">
            Ключевые спикеры
        </h2>
        <div class="team__items">
            <!-- Team-card -->
            <article class="team-card">
                <aside class="team-card__aside">
                    <figure class="team-card__figure">
                        <img src="img/team/abirov.png" alt="" class="team-card__photo">
                    </figure>
                </aside>
                <div class="team-card__body">
                    <div class="team-card__text">
                        <h3 class="team-card__heading title title--small title--dark title--w-regular">
                            Канат Абиров
                        </h3>
                        <p class="team-card__descr text text--normal text--dark text--w-light">
                            Генеральный директор DIS Group
                        </p>
                    </div>
                </div>
            </article>
            <!-- /. Team-card -->
            <!-- Team-card -->
            <article class="team-card">
                <aside class="team-card__aside">
                    <figure class="team-card__figure">
                        <img src="img/avatar.png" alt="" class="team-card__photo">
                    </figure>
                </aside>
                <div class="team-card__body">
                    <div class="team-card__text">
                        <h3 class="team-card__heading title title--small title--dark title--w-regular">
                            Имя Фамилия
                        </h3>
                        <p class="team-card__descr text text--normal text--dark text--w-light">
                            Должность
                        </p>
                    </div>
                </div>
            </article>
            <!-- /. Team-card -->
            <!-- Team-card -->
            <article class="team-card">
                <aside class="team-card__aside">
                    <figure class="team-card__figure">
                        <img src="img/avatar.png" alt="" class="team-card__photo">
                    </figure>
                </aside>
                <div class="team-card__body">
                    <div class="team-card__text">
                        <h3 class="team-card__heading title title--small title--dark title--w-regular">
                            Имя Фамилия
                        </h3>
                        <p class="team-card__descr text text--normal text--dark text--w-light">
                            Должность
                        </p>
                    </div>
                </div>
            </article>
            <!-- /. Team-card -->
        </div>
    </div>
</section>
<!-- /. Team -->

<!-- Programm -->
<section class="programm block-padding" id="programm">
    <div class="programm__body container">
        <h2 class="programm__heading title--big title--dark title--w-semibold title--indent">
            Программа мероприятия
        </h2>
        <p class="programm__subtitle title title--medium title--dark title--w-regular hide">
            Указано время по Москве
        </p>
        <div class="programm__list">
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    10:00 - 10:05
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Открытие форума
                    </h3>
                    <div class="programm__man">
                        <div class="programm__man-name text text--normal text--dark text--w-light">
                            Асем Нургалиева
                        </div>
                    </div>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    10:05 - 10:25
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Ускорение цифровой трансформации. Новые тренды в Казахстане.
                    </h3>
                    <div class="programm__man">
                        <div class="programm__man-name text text--normal text--dark text--w-light">
                            Канат Абиров
                        </div>
                        <div class="programm__man-rank text text--normal text--dark text--w-light">
                            Генеральный директор DIS Group
                        </div>
                    </div>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    10:25 - 10:50
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        От привычного к экстраординарному. Видение мирового лидера в области управления данными Striving for Greatness with a Data-first Strategy (Сloud тренды)
                    </h3>
                    <div class="programm__man">
                        <div class="programm__man-name text text--normal text--dark text--w-light">
                            Выступление спикера из Informatica
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="programm__block-title title title--large title--blue title--w-semibold">
                Цифровое государство
            </h3>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    10:50 - 11:10
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Цифровая стратегия Казахстана. Приоритеты государства. 
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    11:10 - 11:30
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Перспективы монетизации данных.  Кейсы международные(Госсектор).
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    11:30 - 12:00
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Дискуссия 1: Государство, цифровизация, данные. 
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    12:00 - 12:20
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Перерыв
                    </h3>
                </div>
            </div>
            <h3 class="programm__block-title title title--large title--blue title--w-semibold">
                Цифровая экономика
            </h3>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    12:20 - 12:45
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Новые подходы к фабрике данных. (DG)
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    12:45 - 13:00
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Дискуссия 2: Как Data Governance помогает бизнесу стать эффективнее.
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    13:00 - 13:20
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Informatica. Обзор новинок. Международные кейсы.
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    13:20 - 13:40
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        MDM проект - кто?
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    13:40 - 14:30
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Обед
                    </h3>
                </div>
            </div>
            <h3 class="programm__block-title title title--large title--blue title--w-semibold">
                Цифровое общество
            </h3>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    14:30 - 14:50
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Цифровые сервисы для сотрудников, качество данных.
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    14:50 - 15:20
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Дискуссия 3: Как повысить операционную эффективность и клиентский опыт?
                    </h3>
                </div>
            </div>
            <div class="programm__item">
                <div class="programm__time title title--medium title--dark title--w-regular">
                    15:20 - 15:30
                </div>
                <div class="programm__info">
                    <h3 class="programm__title title title--medium title--dark title--w-semibold">
                        Завершение Форума. 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Programm -->

<!-- Register -->
<section class="register block-padding">
    <video class="main-screen__video" autoplay muted loop playsinline poster="./img/main-screen-bg.png">
        <source src="./img/video-laser.mp4" type="video/mp4">
        <source src="./img/video-laser.webm" type="video/webm">
    </video>
    <div class="register__body container">
        <div class="register__inner">
            <h2 class="register__heading title title--large title--white title--w-semibold">
                Регистрируйся сейчас!
            </h2>
            <p class="register__descr text text--large text--white text--w-light hide">
                Среди участников, следивших за форумом не менее 120 минут, будут разыграны призы: колонка Алиса, беспроводные наушники, и другие.
            </p>
            <div class="register__action">
                <a href="javascript:;" class="register__button button button--primary" data-modal="#registration">
                    Зарегистрироваться
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /. Register -->

<!-- Partners -->
<section class="partners block-padding">
    <div class="partners__body container">
        <h2 class="partners__heading title title--big title--dark title--w-semibold title--indent gs-reveal gs-reveal--from-left">
            При поддержке
        </h2>
        <div class="partners__card">
            <aside class="partners__card-aside">
                <figure class="partners__card-figure">
                    <img src="img/dis-logo.png" alt="" class="partners__card-photo">
                </figure>
            </aside>
            <div class="partners__card-text">
                <p class="partners__card-descr text text--large text--dark text--w-semibold">
                    Решения по управлению данными, бизнес-аналитике, защите информации и управлению знаниями. Мы упрощаем работу с данными и информацией, предоставляя новые возможности для роста бизнеса. 
                    <br>
                    <br>
                    Компания является частью международного холдинга Aman Group.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /. Partners -->

<section class="info-partners block-padding" id="partners">
    <div class="info-partners__body container">
        <h3 class="info-partners__heading title title--big title--dark title--w-semibold title--indent gs-reveal gs-reveal--from-left">
            Информационные партнёры
        </h3>
        <div class="info-partners__items">
            <a href="https://weproject.media/" class="info-partners__item">
                <img src="./img/partners/we.jpg" alt="">
            </a>
            <a href="https://the-tech.kz/" class="info-partners__item">
                <img src="./img/partners/tech.png" alt="">
            </a>
            <a href="https://profit.kz/" class="info-partners__item">
                <img src="./img/partners/profit.jpg" alt="">
            </a>
            <a href="https://bizmedia.kz/" class="info-partners__item">
                <img src="./img/partners/biz.svg" alt="">
            </a>
            <a href="https://optimism.kz/" class="info-partners__item">
                <img src="./img/partners/optimizm.png" alt="">
            </a>
            <a href="https://qazaqpress.kz/" class="info-partners__item">
                <img src="./img/partners/quazar.png" alt="">
            </a>
            <a href="https://bluescreen.kz/" class="info-partners__item">
                <img src="./img/partners/blue.png" alt="">
            </a>
        </div>
    </div>
</section>

{% endblock %}