{% set title = "INFADAY" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Main-screen -->
<section class="main-screen block-padding">
    <div class="main-screen__body container">
        <div class="main-screen__text">
            <h1 class="main-screen__title title title--large title--white title--w-semibold title--indent">
                DIS Group Forum
            </h1>
            <h2 class="main-screen__subtitle">
                <span class="title title--big title--white title--w-semibold">Данные</span>
                <span class="title title--big title--white title--w-light"> – катализатор цифровизации</span> 
            </h2>
            <div class="main-screen__date title title--large title--white title--w-light">
                22 сентября 2022
            </div>
            <div class="main-screen__actions">
                <a href="javascript:;" class="main-screen__button button button--primary" data-modal="#registration">
                    Зарегистрироваться
                </a>
            </div>
            <div class="main-screen__solution">
                <div class="main-screen__heading-solutions">
                    <span class="main-screen__heading-title title title--large title--white title--w-semibold">Решения</span>
                    <span class="main-screen__heading-title title title--large title--white title--w-light">мировых лидеров</span>
                </div>
                <div class="main-screen__leaders">
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-kms.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-sisense.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-nice_actimize.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-informatica.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-datain.png" alt="" class="main-screen__logo">
                    </div>
                    <div class="main-screen__item-leaders">
                        <img src="img/main-screen/logo-citrix.png" alt="" class="main-screen__logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Main-screen -->

<!-- About -->
<section class="about block-padding" id="about">
    <div class="about__decor about__decor--top">
        <svg class="about__decor-svg" width="203" height="45" viewBox="0 0 203 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="6" y1="39" x2="120" y2="39" stroke="#00E0FF" stroke-width="12" stroke-linecap="round"/>
            <line x1="125" y1="4" x2="199" y2="4" stroke="#A9FFCD" stroke-width="8" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="about__body container">
        <h2 class="about__heading title title--big title--dark title--w-semibold title--indent">
            О компании
        </h2>
        <h3 class="about__subheading title title--large title--dark title--w-light">
            Что общего между <span class="about__text-accent">Data Scientist</span> и химиком-исследователем?
        </h3>
        <h3 class="about__subheading title title--large title--dark title--w-light">
            <span class="about__text-accent">Химия</span> – основа жизни. Ведь все процессы, протекающие в организме, основаны на химических реакциях. Точно так же, как все процессы в цифровой компании – на работе с накопленными в ней <span class="about__text-accent">данными</span>.
        </h3>
        <div class="about__row">
            <h2 class="about__title title title--big title--dark title--w-light">
                Меняйте данность
            </h2>
            <div class="about__text">
                <p class="about__descr text text--large text--dark text--w-semibold">
                    Как превратить <span class="about__text-accent">данные</span> в катализатор цифрового развития вашей компании?
                </p>
            </div>
        </div>
        <div class="about__row">
            <h2 class="about__title title title--big title--blue title--w-light">
                Управляйте данными
            </h2>
            <div class="about__text">
                <p class="about__descr text text--large text--dark text--w-semibold">
                    Что делает <span class="about__text-accent">кристаллическую решётку проекта</span> по-настоящему устойчивой?
                </p>
                <p class="about__descr text text--large text--dark text--w-semibold">
                    Как <span class="about__text-accent">синтезировать цифровой продукт</span> идеальной чистоты и без побочных примесей?
                </p>
            </div>
        </div>
        <h3 class="about__subheading title title--large title--dark title--w-light">
            <span class="about__text-accent">Ответы</span> на эти вопросы можно получить в специальной лаборатории DIS Group Forum. Ставить опыты будут <span class="about__text-accent">ведущие эксперты</span> российских компаний!
        </h3>
    </div>
    <div class="about__decor about__decor--bottom">
        <svg class="about__decor-svg" width="271" height="98" viewBox="0 0 271 98" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="151" y1="92" x2="265" y2="92" stroke="#00E0FF" stroke-width="12" stroke-linecap="round"/>
            <line x1="4" y1="4" x2="78" y2="4" stroke="#8C3FFF" stroke-width="8" stroke-linecap="round"/>
        </svg>
    </div>
</section>
<!-- /. About -->

<!-- Register -->
<section class="register block-padding">
    <div class="register__body container">
        <h2 class="register__heading title title--large title--white title--w-semibold">
            Присылайте вопросы спикерам и получайте подарки
        </h2>
        <p class="register__descr text text--large text--white text--w-light">
            Среди участников, следивших за форумом не менее 120 минут, будут разыграны призы: колонка Алиса, беспроводные наушники, и другие.
        </p>
        <div class="register__action">
            <a href="javascript:;" class="register__button button button--primary">
                Смотреть в записи
            </a>
        </div>
    </div>
</section>
<!-- /. Register -->

{% endblock %}