{% set title = "Цифровое перерождение" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Thanks -->
<section class="thanks block-padding">
    <div class="thanks__body container">
        <div class="thanks__inner">
            <h2 class="thanks__heading title title--large title--dark title--w-semibold center">
                Спасибо! Вы зарегистрированы.
            </h2>
            <p class="thanks__descr text text--large text--dark text--w-light center">
                Ссылка для подключения придет вам на почту в день мероприятия.
            </p>
        </div>
    </div>
</section>
<!-- /. Thanks -->

{% endblock %}