    <!-- Footer -->
    <footer class="footer">
        <div class="footer__body container">
            <div class="footer__inner">
                <div class="footer__column">
                    <h4 class="footer__col-title title title--pre-medium title--white title--w-semibold">
                        О нас
                    </h4>
                    <p class="footer__descr text text--normal text--white text--w-regular">
                        Решения по управлению данными, бизнес-аналитике, защите информации и управлению знаниями. Мы упрощаем работу с данными и информацией, предоставляя новые возможности для роста бизнеса.
                    </p>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/DIS-Group-141143739295193/" class="footer__soc-link link">
                            Facebook
                        </a>
                        <a href="https://www.youtube.com/channel/UCfNXWK4lsMs6-Y5nS_Kf0VA" class="footer__soc-link link">
                            Youtube
                        </a>
                    </div>
                </div>
                <div class="footer__column">
                    <h4 class="footer__col-title title title--pre-medium title--white title--w-semibold">
                        О мероприятии
                    </h4>
                    <div class="footer__info">
                        <span class="footer__info-text text text--normal text--white text--w-light">
                            Дата проведения:
                        </span>
                        <span class="footer__info-text text text--normal text--white text--w-semibold">
                            22 сентября 2022
                        </span>
                    </div>
                    <div class="footer__info">
                        <span class="footer__info-text text text--normal text--white text--w-light">
                            Время проведения:
                        </span>
                        <span class="footer__info-text text text--normal text--white text--w-semibold">
                            10:00 - 18:00
                        </span>
                    </div>
                </div>
                <div class="footer__column">
                    <h4 class="footer__col-title title title--pre-medium title--white title--w-semibold">
                        Наши контакты
                    </h4>
                    <a href="tel:++74956450201" class="footer__info">
                        <span class="footer__info-text text text--normal text--white text--w-light">
                            Телефон:
                        </span>
                        <span class="footer__info-text text text--normal text--white text--w-semibold link">
                            +7 495 645-0201
                        </span>
                    </a>
                    <div class="footer__info">
                        <span class="footer__info-text text text--normal text--white text--w-light">
                            Факс:
                        </span>
                        <span class="footer__info-text text text--normal text--white text--w-semibold">
                            +7 495 645-0188
                        </span>
                    </div>
                    <a href="mailto:infaday@dis-group.ru" class="footer__info">
                        <span class="footer__info-text text text--normal text--white text--w-light">
                            E-mail:
                        </span>
                        <span class="footer__info-text text text--normal text--white text--w-semibold link">
                            infaday@dis-group.ru
                        </span>
                    </a>
                    <a href="./" class="footer__logo logo">
                        <img src="img/logo.svg" alt="" class="footer__logo-img logo__img">
                    </a>
                </div>
            </div>
            <div class="footer__decor">
                <svg class="footer__decor-svg" width="221" height="74" viewBox="0 0 221 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="4" y1="70" x2="122" y2="70" stroke="#00E0FF" stroke-width="8" stroke-linecap="round"/>
                    <line x1="141" y1="2" x2="219" y2="2" stroke="#8C3FFF" stroke-width="4" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy container">
                <div class="footer__copy-text text text--tiny text--white text--w-light">
                    © Copyright 2022 DIS Group. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- /. Footer -->

    <script src="js/scripts.min.js"></script>
</body>
</html>