    <!-- Footer -->
    <footer class="footer">
        <div class="footer__body container">
            <div class="footer__inner">
                
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy container">
                <div class="footer__copy-text text text--tiny text--white text--w-light">
                    © Copyright 2022 DIS Group. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- /. Footer -->

    <script src="js/scripts.min.js"></script>
</body>
</html>