<!-- Header -->
<header class="header">
    <div class="header__body container">
        <a href="./" class="header__logo logo">
            <img src="img/logo.svg" alt="" class="header__logo-img logo__img">
        </a>
        <div class="header__inner js-menu">
            <nav class="header__menu menu">
                <ul class="header__menu-list menu__list">
                    <li class="header__menu-item menu__item js-anchor-link">
                        <a href="#discussions" class="menu__link">
                            О мероприятии
                        </a>
                    </li>
                    <li class="header__menu-item menu__item js-anchor-link">
                        <a href="#discussions" class="menu__link">
                            Дискуссии
                        </a>
                    </li>
                    <li class="header__menu-item menu__item js-anchor-link">
                        <a href="#programm" class="menu__link">
                            Программа
                        </a>
                    </li>
                    <li class="header__menu-item menu__item js-anchor-link">
                        <a href="#partners" class="menu__link">
                            Партнёры
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__action hide">
                <a href="javascript:;" class="header__button button button--primary" data-modal="#modal">
                    Смотреть в записи
                </a>
            </div>
        </div>
        <div class="header__burger-menu burger-menu js-burger">
            <span class="burger-menu__line"></span>
        </div>
    </div>
</header>
<!-- /. Header -->