.team-card {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0,215px) minmax(0,1fr);
    @include mobileXS-block {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.team-card::before {
    position: absolute;
    content: '';
    top: 0;
    right: -10px;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.team-card:hover::before {
    opacity: 1;
}

.team-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    @include mobileXS-block {
        margin-right: 20px;
    }
}

.team-card__figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: scale(1);
}

.team-card__photo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.team-card:hover .team-card__photo {
    transform: scale(0.92);
}

.team-card__heading {
    @include mobileXS(margin-top, 10px);
}

.team-card__text {
    margin-top: 0px;
    transition: margin-top .2s ease-in-out;
}

.team-card:hover .team-card__text {
    margin-top: 10px;
}

.team-card__descr {
    margin-top: 20px;
}