/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
}

/* Block-padding */

.block-padding {
    padding: 130px 0;
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-dark);
}

/* Title */

.title {
    font-family: var(--font-proxima-nova);
    font-style: normal;
    margin: 0;
    &--big {
        font-size: responsive 32px 54px;
        font-range: 360px 1200px;
    }
    &--large {
        font-size: responsive 28px 32px;
        font-range: 360px 1200px;
    }
    &--medium {
        font-size: responsive 22px 28px;
        font-range: 360px 1200px;
    }
    &--pre-medium {
        font-size: responsive 20px 22px;
        font-range: 360px 1200px;
    }
    &--small {
        font-size: 16px;
    }
    &--tiny {
        font-size: 12px;
    }
    &--white {
        color: var(--color-white);
	}
    &--dark {
		color: var(--color-dark); 
	}
    &--orange {
		color: var(--color-orange); 
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-regular {
		font-weight: normal;
	}
    &--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 50px 0;
}

/* Text */

.text {
    font-family: var(--font-proxima-nova);
    font-style: normal;
    margin: 0;
	&--black-gray {
		color: var(--color-dark); 
	}
	&--white {
		color: var(--color-white);
	}
    &--orange {
		color: var(--color-orange); 
	}
	&--large {
        font-size: responsive 18px 22px;
        font-range: 360px 1200px;
	}
	&--normal {
        font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: bold;
    }
	&--w-black {
		font-weight: 900;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}