:root {
	--color-white: #FFFFFF;
	--color-black: #000;
	--color-dark: #343a40;
	--color-dark-blue: #192533;
	--color-orange: #ff5001;
	--color-blue: #00A5CD;
    --font-proxima-nova: "Proxima Nova", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}