.about {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.about__text-accent {
    color: var(--color-blue);
}

.about__blockquote {
    margin: 0;
    padding: 0 50px;
    @include mobileXS-block {
        padding: 0;
    }
}

.about__blockquote-text {
    text-align: center;
}

.about__blockquote-man {
    margin-top: 30px;
    text-align: right;
}

.about__list {
    margin-top: 50px;
}

.about__item ~ .about__item {
    margin-top: 20px;
}

.about__descr {
    margin-top: 50px;
}