.programm__subtitle {
    margin-bottom: 30px;
}

.programm__list {
    display: grid;
    grid-auto-rows: minmax(160px, 1fr);
}

.programm__item {
    display: grid;
    grid-template-columns: minmax(150px, 200px) minmax(200px, 1fr);
    grid-auto-rows: minmax(160px, 1fr);
    align-items: center;
    grid-gap: 30px;
    padding: 20px 0;
    @include mobileXS-block {
        grid-template-columns: minmax(100px, 140px) minmax(200px, 1fr);
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 20px;
    }
}

.programm__item ~ .programm__item {
    border-top: 1px solid var(--color-black);
}

.programm__time {
    text-align: center;
    border-right: 1px solid #000;
    @include mobileXS-block {
        text-align: left;
        border-right: none;
    }
}

.programm__man {
    margin-top: 15px;
}

.programm__man-rank {
    margin-top: 10px;
}