.partners__card {
    display: grid;
    grid-template-columns: minmax(180px, 180px) minmax(200px, 1fr);
    grid-gap: 25px;
    align-items: center;
    @include mobileXS-block {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: flex-start;
        justify-items: center;
    }
}

.partners__card-figure {
    margin: 0;
    width: 180px;
    height: 180px;
}

.partners__card-photo {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.partners__card-text {
    @include mobileXS-block {
        text-align: center;
    }
}

.partners__card-descr {
    margin-top: 15px;
}