.partners__outer {
    overflow: hidden;
}

.partners__items {
    display: flex;
    align-items: center;
}

.partners__items.swiper-wrapper {
    transition-timing-function: linear;
}

.partners__item.swiper-slide {
    height: 100%;
}

.partners__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 80px 20px;
    background: #F2F3F8;
}

.partners__logo {
    display: block;
    max-height: 100px;
}