<!-- Modal -->
<div class="modal hystmodal" id="registration" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="modal__body hystmodal__window" role="modal window contact" aria-modal="true">
            <div class="modal__close" data-hystclose>
                <svg class="modal__close-svg" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12 12M12 1L1 12" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </div>
            <h3 class="modal__title modal__field--anim title title--large title--dark title--w-regular center">
                Регистрация
            </h3>
            <script type="text/javascript" async="async" defer="defer" charset="UTF-8" src=https://timepad.ru/js/tpwf/loader/min/loader.js data-timepad-customized="30874" data-twf2s-event--id="2167247" data-timepad-widget-v2="event_register"></script>
        </div>
    </div>
</div>
<!-- /. Modal -->