.footer {
    background: url('../img/footer_bg.jpg') no-repeat center;
    background-size: cover;
}

.footer__inner {
    padding: 70px 0;
}

.footer__bottom {
    padding: 12px 0;
    background: var(--color-dark-blue);
}