.header {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: transparent;
    background: rgba(0, 0, 0, 0.705);
    @include tablet-block {
        // position: fixed;
        z-index: 100;
        background: rgba(0, 0, 0, 0.9);
    }
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    @include tablet-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.header__logo-img {
    max-width: 130px;
}

.header__logo a:first-child .header__logo-img {
    max-width: 50px;
    margin-right: 15px;
}

.header__logo a:nth-child(2) .header__logo-img {
    max-width: 100px;
    //@include mobile-block {
    //    max-width: 60px;
    //}
}

.header__logo a:nth-child(3) .header__logo-img {
    max-width: 175px;
    @include mobile-block {
        max-width: 120px;
    }
}

.header__action {
    display: inline-flex;
    margin-left: 20px;
    @include tablet-block {
        margin-left: 0;
        margin-top: 40px;
    }
}

.header__inner {
    @include tablet-block {
        position: absolute;
        top: 100%;
        height: calc(100vh - 0px);
        left: 0;
        margin-top: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(50px);
        width: 100%;
        z-index: 101;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        flex-direction: column;
        justify-content: center;
    }
}

.header__menu.menu {
    @include tablet-block {
        font-size: 28px;
        font-weight: 500;
    }
}

.header__menu-item {
    @include tablet(opacity, 0);
}

.header__menu-list {
    @include tablet-block {
        display: flex;
        flex-direction: column;
    }
}

.header__menu-item.menu__item ~ .header__menu-item.menu__item {
    @include tablet-block {
        margin-left: 0;
        margin-top: 30px;
    }
}