@charset "UTF-8";
@import "./base/smart-grid";
/* Fonts */
@import "./base/font";
/* Variables */
@import "./base/variables";
/* Base */
@import "./base/base";
/* Animation */
@import "./base/animation";
/* Base Classes */
@import "./base/classes";

/* ANOTHER MODULES */

@import "./blocks/swiper/swiper";

/* ANOTHER MODULES */

/* Blocks */
/* Page */
@import "./blocks/page/page";
/* Buttons */
@import "./blocks/buttons/buttons";
/* Preloader */
@import "./blocks/preloader/preloader";
/* Hystmodal */
@import "./blocks/hystmodal/hystmodal";
/* Modal */
@import "./blocks/modal/modal";
/* Header */
@import "./blocks/header/header";
/* Logo */
@import "./blocks/logo/logo";
/* Menu */
@import "./blocks/menu/menu";
/* Burger-menu */
@import "./blocks/burger-menu/burger-menu";
/* Main-screen */
@import "./blocks/main-screen/main-screen";
/* About */
@import "./blocks/about/about";
/* Register */
@import "./blocks/register/register";
/* Team */
@import "./blocks/team/team";
/* Moder */
@import "./blocks/moder/moder";
/* Team-card */
@import "./blocks/team-card/team-card";
/* Programm */
@import "./blocks/programm/programm";
/* Partners */
@import "./blocks/partners/partners";
/* Thanks */
@import "./blocks/thanks/thanks";
/* Footer */
@import "./blocks/footer/footer";

/* MEDIA QUERIES */