.main-screen {
    position: relative;
    background: url('../img/main-screen/main-screen-bg.svg') no-repeat;
    background-size: 50%;
    background-position: center right;
    padding: 200px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile-block {
        padding: 200px 0 100px;
        justify-content: flex-start;
        background-size: 100%;
        background-position: center bottom;
    }
    @include mobileXS(justify-content, center);
}

.main-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #000000 0%, #004050 100%);
    z-index: -1;
}

.main-screen__title-ext {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    background: var(--color-white);
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.main-screen__actions{
    margin-top: 50px;
}