.main-screen {
    position: relative;
    padding: 100px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../img/main-screen-bg.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
    @include mobile-block {
        padding: 100px 0 100px;
        justify-content: flex-start;
    }
    @include mobileXS(justify-content, center);
}

.main-screen__video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.main-screen__body {
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
    background: rgb(7 8 8 / 53%);
    position: relative;
}

.main-screen__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    grid-gap: 100px;
    @include tablet-block {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}

.main-screen__right {
    @include tablet(order, -1);
}

.main-screen__logos {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.main-screen__logo {
    display: block;
    max-width: 250px;
    max-height: 60px;
}

.main-screen__descr ~ .main-screen__descr {
    margin-top: 30px;
}

.main-screen__descr--bottom {
    margin-top: 50px;
}

.main-screen__title {
    margin-top: 50px;
}

.main-screen__info > .main-screen__title {
    margin-top: 0;
}

.main-screen__list {
    margin-top: 10px;
}

.main-screen__item ~ .main-screen__item {
    margin-top: 15px;
}

.main-screen__info-event:first-of-type {
    margin-top: 50px;
    @include tablet(margin-top, 50px);
}

.main-screen__info-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.main-screen__actions{
    margin-top: 50px;
    @include tablet-block {
        margin-top: 50px;
    }
}